<footer>
  <img src="/assets/images/logoBookingpadFooter.svg" alt="">
  <div class="copyrightFooter">
    <p>An <a href="https://airgateway.com/" target="new">AirGateway</a> Product - All rights reserved ©2020</p>
  </div>
</footer>
<script src="/js/splide.min.js"></script>

<script>
  var elms = document.getElementsByClassName('splide');
  for (var i = 0, len = elms.length; i < len; i++) {
    new Splide(elms[i], {
      type: 'loop',
      perPage: 4,
      breakpoints: {
        768: {
          perPage: 3,
        },
        640: {
          perPage: 2,
        },
        414: {
          perPage: 1,
        },
      },
      autoplay: true,
      interval: 2400,
      arrows: false
    }
    ).mount();
  }
</script>
<script type="text/javascript">
  _linkedin_partner_id = "4120058";
  window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
  window._linkedin_data_partner_ids.push(_linkedin_partner_id);
  </script><script type="text/javascript">
  (function(l) {
  if (!l){window.lintrk = function(a,b){window.lintrk.q.push([a,b])};
  window.lintrk.q=[]}
  var s = document.getElementsByTagName("script")[0];
  var b = document.createElement("script");
  b.type = "text/javascript";b.async = true;
  b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
  s.parentNode.insertBefore(b, s);})(window.lintrk);
  </script>
  <noscript>
  <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=4120058&fmt=gif" />
  </noscript>