<section id="get-started" class="homeRegister section scrollspy">
    <div class="wrapper">
        <h2 class="sectionHeading">Get Started</h2>
        <div class="homeRegisterGrid">
            <div class="homeRegisterItem">
                <h3>Where to Start?</h3>
                <div class="qaItem">
                    <h4>1. Register in our Onboarding Form</h4>
                    <p>Leave us your agency details below and we'll be shortly in touch to ensure quick and smooth onboarding.
                    </p>
                    <p><button class="js-cm-submit-button button primaryButton" type="submit"
                        onclick='window.open("https:/\/airg.maillist-manage.eu/ua/Optin?od=12ba7e61055d&zx=14acf9d6c0&tD=1155da4f063949d9&sD=1155da4f063d18fc")' >Sign Up
                    </button></p>
                </div>
                <div class="qaItem">
                    <h4>2. Get airline NDC credentials</h4>
                    <p>We will assist you to apply for airlines credentials so that your travel agency gets enabled to
                        shop and book NDC content</p>
                </div>
                <div class="qaItem">
                    <h4>3. Start using Bookingpad!</h4>
                    <p>In a matter of a days your travel agency will be NDC-enabled and accesing the best airline fares
                        in the industry</p>
                </div>
            </div>
            <div class="homeRegisterItem">
                <div>
                    <h3 class="registerFormTitle">Questions?</h3>
                    <p>Leave us a message in chat!</p>
                    <p>Click the chat bubble in the bottom right corner.</p>
                </div>
            </div>
        </div>
    </div>
</section>